<div>
  <ul class="nav navbar-dark bg-dark">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/students/list']" href="#">List of Students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/students/add']" href="#">Add Student</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
<!-- <div *ngIf="messageFromChild != null" class="alert alert-success" role="alert">
  {{messageFromChild}}
</div> -->
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Students Module Feature</h1>
    <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>
    <a class="btn btn-lg btn-primary" [routerLink]="['/students/list']" role="button">Go To Students List</a>
  </div>
</div>

