<button (click)="BackToHome()" class="btn btn-primary">Back To Home</button>
<hr/>
<form (submit)="addStudent(addStudentForm)" [formGroup]="addStudentForm">
  <div class="form-group row">
    <label class="col-2 col-form-label">Name</label>
    <input class="form-control col-10" type="text" formControlName="name" name="name">
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Age</label>
    <input type="number" class=" col-10 form-control" formControlName="age" name="age">
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Nationality</label>
    <input type="text" class="form-control col-10" formControlName="nationality" name="nationality"><br/><br/>
    <input type="submit" class="form-control col-3 btn btn-primary" value="Add Student">
  </div>
</form>
